* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

:root {
  --client-primary-color: #fff8e9;
  --client-secondary-color: #8b714a;
  --client-teritary-color: #d7ac6c;
  --client-accent-color: #000;
  --client-background-color: #ad8c5c;
  --client-text-color: #fff;
  --client-iconbg-color: #ffffff33;
}

body {
  background-color: #f5f7fa;
}
.cursor{
  cursor: pointer;
}

/* header  */
.headerNavLink.navbar-nav .nav-link {
  color: #000;
}
.headerNavLink.navbar-nav .nav-link:hover {
  color: #fff8e9;
  /* background-color: #1A4ED5; figma clr*/
  background-color: #2c6bff;
  border-radius: 5px;
}
.headerNavLink.navbar-nav a.nav-link.active {
  color: #fff8e9;
  /* background-color: #1A4ED5; figma clr*/
  border-radius: 5px;
  background-color: #2c6bff;
}
.navbar .btn-outline-success {
  color: #fff8e9;
  /* background-color: #25D366;   FIGMA CLR */
  background-color: #00d570;
  border: none;
  padding: 10px 20px;
  border-radius: 1.2rem;
}

@media (max-width: 411px) {
  .navbar-toggler {
    margin-right: auto;
    margin-top: 7px;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }

  .navbar .btn-outline-success {
    margin-top: 7px;
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }

  .navbar .img-fluid {
    max-height: 1.77rem;
  }
}

.contactNum:hover{
color: #2c6bff;
}
/* home */
.responsive-text {
  width: 100%; /* Default width */
  max-width: 100%; /* Full width for small screens */
}

@media (min-width: 768px) {
  .responsive-text {
    max-width: 75%; /* 75% width for medium screens */
  }
}

@media (min-width: 992px) {
  .responsive-text {
    max-width: 50%; /* 50% width for large screens */
  }
}
/* SalePitch.css */

.sale-pitch-container {
  max-width: 600px;
  margin: 0 auto;
}

.sale-pitch-input {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  outline: none;
  box-sizing: border-box;
}

.sale-pitch-textarea {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  outline: none;
  height: 100px;
  box-sizing: border-box;
}

/* .sale-pitch-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
} */

.sale-pitch-button {
  /* width: 100%; */
  padding: 15px;
  border-radius: 15px;
  background-color: #385fe5;
  color: #fff;
  border: none;
  cursor: pointer;
}
.form-bg-img {
  top: 0;
  left: 5px;
  width: 150px; /* Default width */
  height: auto;
}

@media (max-width: 768px) {
  .form-bg-img {
    width: 100px; /* Adjust width for smaller screens */
  }
}

@media (max-width: 576px) {
  .form-bg-img {
    width: 80px; /* Further adjust width for very small screens */
  }
}
.contactUs{
  --bs-btn-hover-bg: #385fe5
}
/* Hero Section  */
.heroBackground {
  background: url("../assets/singapore_map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mainHeading {
  font-size: 18px;
  font-weight: bold;
  color: #1e255e;
}

.oneClick {
  display: flex;
  white-space: nowrap;
  font-size: 84px;
  font-weight: bold;
  color: #0061fe;
}

@media (max-width: 450px) {
  .oneClick {
    font-size: 60px;
  }
}
@media (max-width: 350px) {
  .oneClick {
    font-size: 55px;
  }
}

.imageText img {
  margin-left: 10px; /* Adjust as needed for spacing */
}


.imageText {
  font-size: 12px !important;
  color: #000;
}

.subHeadingHero {
  font-size: 48px;
  font-weight: bold;
  color: #1e255e;
}

@media (max-width: 400px) {
  .subHeadingHero {
    font-size: 40px;
  }
}
@media (max-width: 350px) {
  .subHeadingHero {
    font-size: 35px;
  }
}

.heroList {
  color: rgba(30, 37, 94, 0.7);
  font-size: 16px;
  font-weight: 400;
}

.primaryButton {
  background-color: #0061fe;
  font-family: "Poppins", sans-serif !important;
  padding: 10px 15px;
  border-radius: 30px;
  width: 130px;
}

/* / Footer / */
.footerBg {
  background: linear-gradient(90deg, #1a4ed5 0%, #1c2792 100%);
  color: var(--client-text-color);
  padding: 20px 0;
}

.mediaIconBg {
  background-color: var(--client-iconbg-color);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.mediaIconBg1 {
  background-color: var(--client-iconbg-color);
  border-radius: 5px;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 24px;
  height: 24px;
  line-height: 0;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.footer-copyright p {
  margin: 0;
}

.footerText {
  color: #0097FE;
}

/* / Media Queries for Responsiveness / */
@media (max-width: 768px) {
  .mediaIconBg, .mediaIconBg1 {
    padding: 8px;
    font-size: 1.3rem;
  }

  .footerBg p {
    font-size: 0.85rem;
  }

  .footer-copyright {
    flex-direction: column;
    text-align: center;
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .mediaIconBg, .mediaIconBg1 {
    padding: 6px;
    font-size: 1rem;
  }

  .footerBg h2 {
    font-size: 1.5rem;
  }

  .footerBg h5 {
    font-size: 1.2rem;
  }

  .footerBg p {
    font-size: 0.8rem;
  }

  .footerBg h3 {
    font-size: 1.2rem;
  }

  .footer-copyright {
    font-size: 0.8rem;
  }
}

/* Lead Magnet  */

.modelContent .modal-content {
  border-radius: 0px !important;
}

.modelContent .modal-header {
  border-bottom: 0px !important;
}

.leadMagnetHeading {
  color: #1e255e;
  font-size: 34px;
}

.leadMagnetSubHeading {
  color: #0061fe;
  font-weight: 600 !important;
}

.leadMagnetParagraph {
  color: rgb(121, 121, 121);
  font-size: small;
  font-weight: 400 !important;
}

.leadMagenetLable {
  color: #252525;
  font-weight: 600 !important;
}

.leadMagenetInput {
  border-radius: 0px;
  padding: 10px;
  border: 1px solid #1e255e;
  background-color: #0061fe0e;
}

.leadMagnetButton {
  width: 100%;
  border-radius: 0px;
  padding: 10px;
  background-color: #0061fe;
}

.successHeading {
  color: #fff;
  background-color: rgb(0, 184, 0);
  border-radius: 0px;
}

.SuccessMagnetSubHeading {
  color: #252525;
  font-weight: 600 !important;
}

.errorMagnetButton {
  border-radius: 0px;
  padding: 10px 20px;
  background-color: rgb(192, 0, 0);
  border-radius: 50px !important;
}

.errorHeading {
  color: #fff;
  background-color: rgb(192, 0, 0);
  border-radius: 0px;
}

.errorMagnetSubHeading {
  color: #252525;
  font-weight: 600 !important;
}

.errorMagnetButton {
  border-radius: 0px;
  padding: 10px 20px;
  background-color: rgb(192, 0, 0);
  border-radius: 50px !important;
}

.errorMobile {
  font-size: 32px;
  font-weight: bold;
}

.finalAttemptBackground{
  background-image: url('../assets/Group_last.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

  .stickySideContactButton {
    position: fixed;
    right: calc(25px); 
    top: 55%;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: right center;
    padding: 13px 20px;
    background-color: #FF7F2A; 
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    z-index: 1000; 
  }

  .stickySideContactButton:hover{
      background-color: #ff7214;
  }

  .whatsappStickySideButton {
    position: fixed;
    right: 0; 
    top: 60%;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 22px;
    z-index: 1001; 
  }

  .whatsappStickySideButton:hover{
      background-color: #00b141;
  }